<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
      <p style="font-size: 16px;
      font-weight: 700;
      color: #959595;
      text-transform: uppercase;
      letter-spacing: 1px;
      ">Insertion d'un jeu</p>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Nom du jeu</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nom du jeu">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Prix </label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Prix du jeu">
        </div>
        <div class="form-group">
          <label for="exampleInputFile">Image</label>
          <input type="file" id="exampleInputFile" class="form-control"> 
        </div>
        <div class="form-group">
            <label for="exampleInputFile">Catégorie</label>
            <select class="form-control">
                <option>Action</option>
                <option>Horreur</option>
                <option>Puzzle</option>
            </select> 
          </div>
  
        <button type="submit" class="btn btn-default">Ajouter</button>
      </form>
  </div>
</div>
</body>
</html>

